.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: black;
    width: 25%;
    input {
        color: #d1d0c5;
        font-size: 20px;
        background: #2c2e31;
        border: none;
        padding: 15px;
        border-radius: 10px;
        caret-color: #d29839;
        &:focus-visible {
            outline: none;
        }
    }
    button {
        background: #2c2e31;
        color: #d1d0c5;
        border-radius: 10px;
        cursor: pointer;
        caret-color: #2c2e31;
        &:hover {
            background: #d29839;
            color: #2c2e31;
        }
        svg {
            position: absolute;
            bottom: 6px;
            left: 0;
            margin-left: 10px;
        }
    }
}

.google {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 55px;
    margin-top: 50px;
}
